APP_NAME="MCP4HAL"
APP_VERSION="0.0.1"
HOST_BASE_URL='http://127.0.0.1:8881'
MOUNT_HOST='127.0.0.1'
CORS=True
DEBUG=True

MQTT_USERNAME='mqtt_dev'
MQTT_PASSWD='123456'
MQTT_BROKER='127.0.0.1'
MQTT_PORT=1883
MQTT_QOS=1
